.title {
  font-size: 1.7rem;
  color: #343433;
}
.submit-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.grid-field {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  /* border: 2px solid red; */
}

hr {
  margin: 1rem 0;
}
